* {
  font-family: "Roboto";
  background-color: #1f2937;
}

h1 {
  font-size: 50px;
  font-weight: 550;
  color: white;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

/*Button styling for the entire landing page*/
button {
  height: 50px;
  width: 160px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 6px;
}

.link {
  color: white;
  text-decoration: none;
}

/*Navigation bar styling*/
.navbar {
  display: flex;
  height: 80px;
  padding: 10px;
  gap: 5px;
}

.navbar-logo {
  height: 140px;
  margin-left: 24px;
}

.navbar-links {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: 14px;
  gap: 25px;
  font-size: 25px;
  font-weight: 550;
  color: white;
}

/*Flexbox container with row alignment*/
.container {
  display: flex;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
  padding: 150px;
  gap: 30px;
}

/*Flexbox container for left hand side of section 1. Column alignment for H1, Paragraph and button*/
.section-one {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-right: 50px;
}

.section-one-image {
  height: 300px;
  width: auto;
  border-radius: 5%;
}

.section-two {
  background-color: white;
}
